.proficiencyBox{
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.proficiency{
    width: 315px;
    margin: 20px 0px;
    color: rgb(92, 91, 91);
}

.proficiencyMain{
    color: rgb(92, 91, 91);
    background-color: rgb(253, 253, 253);
    padding: 10px 0px;
    border-bottom: 1px solid rgb(216, 210, 210);
}
