.projectCard{
    width: 350px;
    padding-bottom: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 3px;
    
    
}
.projectCard>img{
    width: 100%;
    border-radius: 3px;
}

.info{
    padding: 0px 15px;
    text-align: left;
    color:  rgb(61, 59, 59);
    height: 140px;
}
.buttonsBox{
    display: flex;
}

.linkbutton{
    color:black; 
    padding: 10px 12px;
    background-color: coral;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    margin-left: 15px;
    border: none;
}
.linkbutton:hover {
    color:wheat;
    background-color: rgb(192, 61, 13);
    cursor: pointer;
}
.projectCard:hover {
    transform: scale(1.03);
}
.projectContainer{
    padding-left: 18px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
    
}
.projectsBox{
    color: white;
    padding-top: 20px;
    background-color: teal;
    padding-bottom: 30px;
}

.stack{
    width: 25px;
    height: 25px;
    margin:5px;
}
.stackContainer{
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid rgb(243, 241, 241);
    
}


@media only screen and (max-width: 480px) {
    .projectCard{
        width: 100%;
        margin: 20px 0px;
    }
    .projectContainer{
        padding-left: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .projectCard{
        width: 300;
        margin: 20px 10px;
    }
    .projectContainer{
        width: 97%;
        padding-left: 0px;
    }
    
}